<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matheaufgaben:</title>
</head>
<body>
    <h1>Matheaufgaben:</h1>
    <form action="" method="post">
        <div>
            <label for="ersteZahl">Erste Zahl</label>
            <input type="number" name="ersteZahl" placeholder="Bitte eine Zahl eingeben">
        </div>
        <div>
            <label for="zweiteZahl">Zweite Zahl</label>
            <input type="number" name="zweiteZahl" placeholder="Bitte eine Zahl eingeben">
        </div>
        <button type="submit">Rechnen</button>
    </form>
</body>
</html>